.preview {
  background-color: var(--bg_color_2);
  box-shadow: var(--box_shadow_1);

  image-rendering: pixelated;

  height: 80vh;
  width: 40vw;
  min-height: 32rem;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 7fr 1fr;
  row-gap: 1rem;
}

img {
  width: 80%;
}

.char_container {
  background-color: var(--bg_color_3);
  box-shadow: var(--box_shadow_1);

  width: 100%;
  max-width: 30rem;
  height: 100%;
  min-width: 18rem;
  padding: 1.2rem;
  border-radius: 1rem;

  display: grid;
  justify-content: center;
  justify-items: center;
}
