/* Color Theme Swatches in Hex */
:root {
  /* Font-Colors */
  --text_color_1: #dfdfdf;
  --text_color_2: #cbcbcb;

  /* Dungeon-Colors */
  --dungeon_color_1: #7e3a84;
  --dungeon_color_2: #0a170d;
  --dungeon_color_3: #1b2528;
  --dungeon_color_4: #357332;
  --dungeon_color_5: #82a6a0;

  /* Zelda */
  --zelda_color_1: #494b4b;
  --zelda_color_2: #0e5135;
  --zelda_color_3: #0d9263;
  --zelda_color_4: #4aba91;
  --zelda_color_5: #d4ce46;

  /* Terraria */
  --terraria_color_1: #025928;
  --terraria_color_2: #405b73;
  --terraria_color_3: #190f26;
  --terraria_color_4: #2a1a40;
  --terraria_color_5: #2d2059;
}
